<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
       
        @Styles.Render("~/Content/bs")
        @Styles.Render("~/Content/bsr")
        @Styles.Render("~/Content/cs")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper naglowek">
                <div class="float-left">
                    <p class="site-title"><img src="~/Content/themes/base/images/logo.jpg" title="logo" /></p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <div id="search-car">
                            <input value="Find your car" id="search" class="input-large" />
                        </div>
                        <ul id="menu">
                            <li class="btn btn-primary">
                                @Html.ActionLink("Home", "Index", "Home")
                                <i class="icon-home"></i>
                            </li>
                            <li class="btn btn-primary">
                                @Html.ActionLink("About", "About", "Home")
                                <i class="icon-star"></i>
                            </li>
                            <li class="btn btn-primary">
                                @Html.ActionLink("Contact", "Contact", "Home")
                                <i class="icon-book"></i>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer class="navbar-inner">
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Car Sellers MVC Application</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
